@model List<Product>

@if (!Model.Any())
{
    <div class="order">
        <h2>Сожалеем, в нашем магазине нет такого товара. Вернитесь на главную страницу...</h2>
    </div>
}
else
{
    <body>
        <div class="text-lg-center" style="color:aliceblue"><h3> Результаты поиска</h3></div>
        <div class="row">
            @foreach (var product in Model)
            {
                <div class="col-3 card shadow border-success card-body">
                    <img src=@product.ImagePath alt="Фото картины">
                    <div class="mt-auto" style="display:-ms-inline-flexbox; flex-direction: column;">
                        <a asp-controller="product" asp-action="index" asp-route-id=@product.Id>
                            <h5><b>@product.Name</b></h5>
                        </a>
                        <a style="color:saddlebrown">
                            <b>@product.Cost рублей</b><br>
                        </a>
                    </div>
                    <br>
                    <div class="btn-group-vertical">
                        <a class="btn btn-dark btn-lg mt-auto" asp-controller="home" asp-action="compare" asp-route-id=@product.Id role="button">Сравнить</a>
                        <a class="btn btn-success btn-lg mt-auto" asp-controller="basket" asp-action="add" asp-route-id=@product.Id role="button">Добавить в корзину</a>
                    </div>
                </div>
            }
        </div>
    </body>
}