@using OnlineShop.Db.Models;
@using OnlineShopWebApp.Areas.Admin.Models;
@model OnlineShopWebApp.Areas.Admin.Models.OrderViewModel

@if (!ViewBag.Basket)
{
    <div class="order"><h2><b>В вашей корзине ничего нет.. Невозможно оформить пустой заказ. Перейдите на главную страницу!</b></h2></div>
}
else
{
    <div class="validation" asp-validation-summary="All">
        <div class="card orderbox">
            <form autocomplete="on" method="post">
                <fieldset>
                    <legend>Оставьте свои контактные данные</legend>

                    <label asp-for="Contacts.Address">Aдрес</label>
                    <br>
                    <textarea asp-for="Contacts.Address" rows="4" cols="50" placeholder="Страна, город, улица, дом, квартира" autofocus></textarea>
                    <span asp-validation-for="Contacts.Address"></span>
                    <br>

                    <label asp-for="Contacts.Index">Ваш индекс</label>
                    <input type="number" asp-for="Contacts.Index" class="form-ctrl" placeholder="123456">

                    <label asp-for="Contacts.Telephone">Введите телефон</label>
                    <input type="tel" id="phone" asp-for="Contacts.Telephone" class="form-ctrlplus" pattern="\+7\([0-9]{3}\)-[0-9]{3}\-[0-9]{2}\-[0-9]{2}" placeholder="+7(999)-999-99-99">

                    <span asp-validation-for="Contacts.Index"></span>
                    <span asp-validation-for="Contacts.Telephone"></span>
                    <br>

                    <label asp-for="TimeFromTo">Удобное время для звонка</label>
                    <input type="text" asp-for="TimeFromTo" class="form-ctrl" placeholder="C 9 до 18">
                    <span asp-validation-for="TimeFromTo"></span>

                    <label asp-for="Email">E-mail</label>
                    <input type="email" class="form-ctrlplus" asp-for="Email">
                    <span asp-validation-for="Email"></span>
                    <br>

                    <label asp-for="Mailto">Cпособ доставки</label>
                    <br>
                    <input id="post1" type="radio" asp-for="Mailto" value="Почта России" checked>
                    <label for="post1">Почта России</label>
                    <br>
                    <input id="post2" type="radio" asp-for="Mailto" value="СДЭК">
                    <label for="post2">СДЭК</label>
                    <br>
                    <input id="post3" type="radio" asp-for="Mailto" value="Boxberry">
                    <label for="post3">Boxberry</label>
                    <span asp-validation-for="Mailto"></span>
                    <br>

                    <label asp-for="DateofDelivery">Введите дату желаемой доставки</label>
                    <input type="date" class="form-ctrl" asp-for="DateofDelivery">
                    <span asp-validation-for="DateofDelivery"></span>
                    <br>

                    <label asp-for="Comment">Напишите комментарий к заказу</label>
                    <br>
                    <textarea cols="80" rows="5" asp-for="Comment"></textarea>
                    <span asp-validation-for="Comment"></span>
                    <br>

                    <label asp-for="Packaging">Упаковка товара</label>
                    @Html.DropDownList("enumList", Html.GetEnumSelectList(typeof(Packaging)))
                    <span asp-validation-for="Packaging"></span>
                    <br>

                    <label asp-for="isAccept">Даю согласие на обработку персональных данных</label>
                    <input type="checkbox" asp-for="isAccept" value="true">
                    <span asp-validation-for="isAccept"></span>
                    <br>

                    <input asp-for="Id" type="hidden" value="0">

                    <h4>Итоговая стоимость вашего заказа: @ViewBag.TotalCost &#8381</h4>
                    <button class="btn button-clear" type="reset">Сбросить заполнение формы</button>
                    <button type="submit" class="btn button-order" asp-controller="order" asp-action="tocheckout" role="button">Заказать</button>
                    <br>
                    <br>
                </fieldset>
            </form>
        </div>
    </div>
}

@section Scripts{
    <script>
        $(function () {
            $("#phone").mask("+7(999) 999-99-99");
        });
    </script>
    }