@model List<Product>
<body style="background-color:darkgrey">
<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-3 card shadow border-success">
                <div class="card-body align-text-bottom">
                        <img class="card-img-top" align-items:stretch src=@product.ImagePath alt="Фото картины">
                    <div class="text-body align-bottom">
                        <a href="/product/index/@product.Id">
                         <b>@product.Name</b><br>
                     </a>
                    <a style="color:saddlebrown">
                <b>@product.Cost рублей</b><br>
                </a>
                <br>
                <div class="d-grid gap-2">
                            <a class="btn btn-success btn-lg align-bottom" href="/basket/add?productId=@product.Id" role="button">Добавить в корзину</a>
                </div>
                    </div>
                    </div>
            </div>
    }
</div>
</body>