<div class="card shadow addrole">
        <center>
            <div style="color:red"><h3>Эта роль присвоена пользователю, её нельзя удалить!</h3></div>
        </center>
        <a class="btn button-danger" asp-area="admin" asp-controller="user" asp-action="index" role="button">Вернуться к списку пользователей</a>
        <a class="btn button-danger" asp-area="admin" asp-controller="role" asp-action="index" role="button">Вернуться к списку ролей</a>
</div>