@model List<RoleViewModel>

@await Html.PartialAsync("AdminPanel")

@if (!(bool)Model?.Any())
{
    <div class="card shadow roles">
        <center><h2>Список ролей</h2></center>
        <div class="text-dark">Роли отсутствуют.</div>
    </div>
}
else
{
    <div class="card shadow roles">
        <div class="validation validation-message" asp-validation-summary="All"></div>
        <center><h2>Список ролей</h2></center>
        @foreach (var role in Model)
        {
            @if(role.Name == "Admin")
            {
                <table>
                    <tr>
                        <td>@role.Name</td>
                </table>
            }
            else
            {
                <table>
                    <tr>
                        <td>@role.Name</td>
                        <td><a class="btn btn-sm btn-outline-dark" asp-area="admin" asp-controller="role" asp-action="delete" asp-route-name="@role.Name">Удалить</a></td>
                    </tr>
                </table>
            }
        }
        <br>
        <a class="btn button-add" asp-area="admin" asp-controller="role" asp-action="add" role="button">Добавить роль</a>
    </div>
}