@model User

<center><b><div class="validation" asp-validation-summary="All" style="color:aliceblue"></div></b></center>
<div class="card shadow login">
    <form class="col-lg-auto" method="post">
        <fieldset>
            <legend>Смена пароля</legend>
            
            <div>Текущий пароль: @Model.Password</div>

            <label asp-for="Password">Новый пароль</label>
            <input class="form-ctrl" type="password" placeholder="Пароль" asp-for="Password">
            <br />
            <span asp-validation-for="Password"></span>
            <br>
            <label asp-for="ConfirmPassword">Повторите новый пароль</label>
            <input class="form-ctrl text-lg-center" type="password" asp-for="ConfirmPassword">

        </fieldset>
        <button type="submit" class="btn btn-info" asp-area="admin" asp-controller="admin" asp-action="changepassword" asp-route-id="@Model.Id" role="button">Изменить пароль</button>
        <br />
    </form>
</div>