<div class="leftblock">
    <div class="btn-group-vertical btn-group-lg" role="group">
        <a type="button" class="btn btn-dark" asp-area="admin" asp-controller="order" asp-action="index">Заказы</a>
        <a type="button" class="btn btn-dark" asp-area="admin" asp-controller="user" asp-action="index">Пользователи</a>
        <a type="button" class="btn btn-dark" asp-area="admin" asp-controller="role" asp-action="index">Роли</a>
        <a type="button" class="btn btn-dark" asp-area="admin" asp-controller="product" asp-action="index">Продукты</a>
    </div>
</div>