
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  color:burlywood;
}

a {
    color: dimgray;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .10);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url(../images/back.jpg);
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
.card-body {
    text-align: center;
    border-radius: 50px;
}
.enter {
    color:darkslategray;
    user-select: none;
    text-decoration: double;
    outline: none;
    background-color:lightsteelblue;
    padding: 1em 1em;
    text-align: center;
    width: 110px;
    height: 60px;
    border-radius: 22px;
    box-shadow: 2px 2px 2px;
}

.enter:hover {
    background-color:lightslategrey;
}

.compare {
    color:black;
    user-select: none;
    text-decoration: double;
    outline: none;
    background-color:goldenrod;
    padding: 1em 1em;
    text-align: center;
    width: 110px;
    height: 60px;
    border-radius: 22px;
    box-shadow: 2px 2px 2px;
}

.compare:hover {
    background-color:darkgoldenrod;
    }

a.basket {
    color:antiquewhite;
    user-select: none;
    text-decoration: double;
    outline: none;
    background-color: darkslategrey;
    padding: 1em 1em;
    text-align: center;
    width: 130px;
    height: 60px;
    border-radius: 22px;
    box-shadow: 1px 1px 1px;
}
a.basket-bg {
    color:antiquewhite;
    user-select: none;
    text-decoration: double;
    outline: none;
    background-color:darkslategrey;
    padding: 1em 1em;
    text-align: center;
    width: 145px;
    height: 60px;
    border-radius: 22px;
    box-shadow: 1px 1px 1px;
}

a.basket:hover {
    background-color:dimgrey;
}

a.basket-bg:hover {
    background-color:dimgrey;
}
a.main {
    color:chocolate;
    user-select: none;
    text-decoration: double;
    outline: none;
    background-color:wheat;
    padding: 1em 1em;
    text-align: center;
    width: 110px;
    height: 60px;
    border-radius: 22px;
    box-shadow: 2px 2px 2px;
}

a.main:hover {
    background-color:tan;
}

.heading{
    font-size: 34px;
    color:darkslategray;
    text-align: center;
    background-color:antiquewhite;
}

.tab-content {
    font-size: 18px;
    color:teal;
    width:100%;
    text-align:center;
}
.btn-options {
    width: 700px;
    height: 60px;
    border-radius: 22px;
    text-align: center;
    padding-left: 0;
    padding-right:initial;
    font-size: 28px;
    box-shadow: 1px 2px 4px;
}
.btn-options:hover {
    background-color: darkgreen;
}

.tab-total {
    text-align: right;
    font-size: 25px;
    color:darkslategrey;
    width: 100%;
}
table {
    width: 85%;
    margin: 4px 5px 2px 150px;
}

.table-compare {
    text-align: justify;
    font-size: 24px;
    color: darkslategray;
    table-layout: fixed;
    width: 100%;
}

.emptybasket {
    color: brown;
    user-select: none;
    text-decoration: double;
    outline: none;
    text-align: center;
    font-size: large;
    transition: 2s;
}

.emptybasket:hover {
    transform: scale(1.5);
}

.order {
    color:darkslateblue;
    user-select: none;
    text-decoration: double;
    outline: none;
    text-align: center;
    font-size: large;
    transition: 1s;
}

.order:hover {
    transform: scale(1.1);
    color:indigo;
}

.input[type="text"],
input[type="email"],
input[type="tel"],
input[type="radio"],
input[type="checkbox"],
input[type="date"],
textarea {
    text-align: justify-all;
    font-size: 14px;
    color: darkslategrey;
    font-style: italic;
    font-weight: 300;
    background-color:antiquewhite;
    padding: 7px;
    margin: 10px 0;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:35px;
    border: 0;
}

.form {
    box-sizing: border-box;
}

.button-order {
    margin: auto;
    color: aliceblue;
    user-select: none;
    outline: none;
    background-color: darkslategrey;
    padding: 1em 1em;
    text-align: center;
    width: 400px;
    height: 80px;
    border-radius: 22px;
    font-size: 20px;
    box-shadow: 6px 6px 6px;
}
.button-order:hover {
    background-color:teal;
    box-shadow:none;
}
.button-clear {
    margin: auto;
    color: dimgray;
    user-select: none;
    text-decoration: double;
    outline: none;
    background-color: beige;
    padding: 1em 1em;
    text-align: center;
    width: 400px;
    height: 80px;
    border-radius: 22px;
    font-size: 20px;
    box-shadow: inset 0 0 6px;
}

    .button-clear:hover {
        background-color: burlywood;
    }

label {
    font-size: 14px;
    color: black;
    font-weight: 600;
    font-style: italic;
}

.comparelist {
    font-size: 16px;
    background-color: antiquewhite;
    border: solid 1px green;
    margin-bottom: 20px;
}

.comparecard {
    margin-bottom: 10%;
}

.circleforbasket {
    border-radius: 50%;
    border: 3px solid #fff;
    background-color: aliceblue;
    color: darkslategrey;
    display: inline;
    padding: 0px 7px 0px 7px;
}

.details {
    color: midnightblue;
    background-color: antiquewhite;
    border: 1px solid midnightblue;
    font-size: medium;
    font-weight: 600;
    box-shadow: 4px 4px 4px;
    text-align: center;
    width: 100%;
}

.login {
    width: 35%;
    height: 35%;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    padding: 27px 2px 20px 4px;
    background-color: antiquewhite;
    border-radius: 22px;
    border-color: darkslategray;
    box-shadow: 4px 4px 4px;
    font-size: 20px;
    font-style: oblique;
}

.button-login {
    color: aliceblue;
    user-select: none;
    outline: none;
    background-color: darkslategrey;
    padding: 0px 2px 5px 2px;
    text-align: center;
    width: 230px;
    height: 50px;
    border-radius: 22px;
    font-size: 22px;
    box-shadow: 1px 1px 1px;
    margin: 1px 1px 4px 1px;
}

    .button-login:hover {
        background-color: teal;
    }

.button-registration {
    color: aliceblue;
    user-select: none;
    outline: none;
    background-color: tan;
    color: sienna;
    padding: 1em 1em;
    text-align: center;
    width: 230px;
    height: 50px;
    border-radius: 22px;
    font-size: 12px;
    box-shadow: 1px 1px 1px;
}

    .button-registration:hover {
        background-color: burlywood;
    }

.form-ctrl {
    border-radius: 22px;
    width: 230px;
    height: 50px;
    margin: 1px 1px 4px 1px;
}