
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  color:burlywood;
}

a {
    color: dimgray;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .10);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url(../images/back.jpg);
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
.card-body {
    text-align: center;
    border-radius: 22px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    border-width: 1px;
    border-color:darkslategray;
    border-right-width: 2px;
    border-bottom-width: 2px;
}
.card-body-product {
    text-align: center;
    border-radius: 22px;
    background-color: antiquewhite;
    padding: 10px 7px 10px 4px;
    border-width: 1px;
    border-color:darkslategray;
    border-right-width: 5px;
    border-bottom-width: 5px;
}
.enter {
    color:darkslategray;
    user-select: none;
    text-decoration: double;
    outline: none;
    background-color:lightsteelblue;
    padding: 1em 1em;
    text-align: center;
    width: 110px;
    height: 60px;
    border-radius: 22px;
    box-shadow: 2px 2px 2px;
}

.enter:hover {
    background-color:lightslategrey;
}

.compare {
    color:black;
    user-select: none;
    text-decoration: double;
    outline: none;
    background-color:goldenrod;
    padding: 1em 1em;
    text-align: center;
    width: 110px;
    height: 60px;
    border-radius: 22px;
    box-shadow: 2px 2px 2px;
}

.compare:hover {
    background-color:darkgoldenrod;
    }

.favourite {
    color:black;
    user-select: none;
    cursor:pointer;
    text-decoration: double;
    outline: none;
    background-color:lightsalmon;
    padding: 1em 1em;
    text-align: center;
    width: 110px;
    height: 60px;
    border-radius: 22px;
    box-shadow: 2px 2px 2px;

}

.favourite:hover {
    background-color:indianred;
}

a.basket {
    color: antiquewhite;
    user-select: none;
    text-decoration: double;
    outline: none;
    background-color: darkgreen;
    padding: 1em 1em;
    text-align: center;
    width: 130px;
    height: 60px;
    border-radius: 22px;
    box-shadow: 1px 1px 1px;
}
a.basket-bg {
    color: antiquewhite;
    user-select: none;
    text-decoration: double;
    outline: none;
    background-color: darkgreen;
    padding: 1em 1em;
    text-align: center;
    width: 145px;
    height: 60px;
    border-radius: 22px;
    box-shadow: 1px 1px 1px;
}

a.basket:hover {
    background-color: darkslategrey;
}

a.basket-bg:hover {
    background-color: darkslategrey;
}

.search-right {
    color: black;
    user-select: none;
    text-decoration: double;
    outline: none;
    background-color:tan;
    text-align: center;
    width: 86px;
    height: 47px;
    border-radius: 22px;
    margin-right: 0%;
    border-bottom-left-radius: 22px;
    border-top-left-radius: 22px;
}

.search-left {
    padding:0px 0px 0px 12px;
    user-select: none;
    text-decoration: double;
    outline: none;
    background-color: antiquewhite;
    text-align:left;
    width: 250px;
    height: 47px;
    border-bottom-left-radius: 22px;
    border-top-left-radius:22px;
    border:none;
}

.compare:hover {
    background-color:darkgreen;
    color: aliceblue;
}

.admin {
    color:black;
    user-select: none;
    text-decoration: double;
    outline: none;
    background-color:slategray;
    padding: 1em 1em;
    text-align: center;
    width: 140px;
    height: 60px;
    border-radius: 22px;
    box-shadow: 2px 2px 2px;
}

    .admin:hover {
        background-color:dimgray;
        color:aliceblue;
    }
a.main {
    color:chocolate;
    user-select: none;
    text-decoration: double;
    outline: none;
    background-color:wheat;
    padding: 1em 1em;
    text-align: center;
    width: 110px;
    height: 60px;
    border-radius: 22px;
    box-shadow: 2px 2px 2px;
}

a.main:hover {
    background-color:tan;
}

.heading{
    font-size: 34px;
    color:darkslategray;
    text-align: center;
    background-color:antiquewhite;
}

.tab-content {
    font-size: 18px;
    color:teal;
    width:100%;
    text-align:center;
}
.btn-options {
    width: 700px;
    height: 60px;
    border-radius: 22px;
    text-align: center;
    padding-left: 0;
    padding-right:initial;
    font-size: 28px;
    box-shadow: 1px 2px 4px;
}
.btn-options:hover {
    background-color: darkgreen;
}

.tab-total {
    text-align: right;
    font-size: 25px;
    color:darkslategrey;
    width: 100%;
}
table {
    width: 85%;
    margin: 4px 5px 2px 150px;
}

.table-compare {
    text-align: justify;
    font-size: 24px;
    color: darkslategray;
    table-layout: fixed;
    width: 100%;
}

.table-favour {
    font-size: 13px;
    color: darkslategray;
    table-layout: auto;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    height:30%;
    flex-grow:1;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    margin-top:auto;
}

.emptybasket {
    color: brown;
    user-select: none;
    text-decoration: double;
    outline: none;
    text-align: center;
    font-size: large;
    transition: 2s;
}

.emptybasket:hover {
    transform: scale(1.5);
}

.order {
    color:darkslateblue;
    user-select: none;
    text-decoration: double;
    outline: none;
    text-align: center;
    font-size: large;
    transition: 1s;
}

.order:hover {
    transform: scale(1.1);
    color:indigo;
}

.input[type="text"],
input[type="email"],
input[type="tel"],
input[type="radio"],
input[type="checkbox"],
input[type="date"],
textarea {
    text-align: justify-all;
    font-size: 14px;
    color: darkslategrey;
    font-style: italic;
    font-weight: 300;
    background-color:antiquewhite;
    padding: 7px;
    margin: 3px 0 3px 8px;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:35px;
    border: 0;
}

.form {
    box-sizing: border-box;
}

.button-order {
    margin: auto;
    color: aliceblue;
    user-select: none;
    outline: none;
    background-color: darkslategrey;
    padding: 1em 1em;
    text-align: center;
    width: 400px;
    height: 80px;
    border-radius: 22px;
    font-size: 20px;
    box-shadow: 6px 6px 6px;
}
.button-order:hover {
    background-color:teal;
    box-shadow:none;
}
.button-clear {
    margin: auto;
    color: dimgray;
    user-select: none;
    text-decoration: double;
    outline: none;
    background-color: beige;
    padding: 1em 1em;
    text-align: center;
    width: 400px;
    height: 80px;
    border-radius: 22px;
    font-size: 20px;
    box-shadow: inset 0 0 6px;
}

    .button-clear:hover {
        background-color: burlywood;
    }

label {
    font-size: 15px;
    color: black;
    font-weight: 600;
    font-style: italic;
}

.comparelist {
    font-size: 13px;
    background-color: antiquewhite;
    border: solid 1px green;
    margin-bottom: 20px;
    border-radius:22px;
    padding-bottom:8px;
}

.favourlist {
    background-color: antiquewhite;
    border: solid 1px green;
    margin-bottom: 20px;
    border-radius: 22px;
    padding-bottom: 3px;
    display: flex;
    flex-direction: column;

}

.comparecard {
    margin-bottom: 10%;
}

.circleforbasket {
    border-radius: 50%;
    border: 3px solid #fff;
    background-color: aliceblue;
    color: darkslategrey;
    display: inline;
    padding: 0px 7px 0px 7px;
}

.details {
    color: midnightblue;
    background-color: antiquewhite;
    border: 1px solid midnightblue;
    font-size: medium;
    font-weight: 600;
    box-shadow: 4px 4px 4px;
    text-align: center;
    width: 100%;
}

.details-admin {
    color: midnightblue;
    background-color: antiquewhite;
    border: 1px solid midnightblue;
    font-size: medium;
    font-weight: 600;
    box-shadow: 4px 4px 4px;
    text-align:left;
    width: 100%;
}


.login {
    width: 35%;
    height: 35%;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    padding: 27px 0px 20px 4px;
    background-color: antiquewhite;
    border-radius: 22px;
    box-shadow: 4px 4px 4px;
    font-size: 12px;
    font-style: oblique;
}

.register {
    width: 90%;
    height: 40%;
    align-items:stretch;
    align-content: center;
    justify-content: center;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    padding: 27px 30px 20px 30px;
    background-color: antiquewhite;
    border-radius: 22px;
    border-color: darkslategray;
    box-shadow: 4px 4px 4px;
    font-size: 12px;
}

.button-register {
    color: aliceblue;
    user-select: none;
    outline: none;
    background-color: darkslategrey;
    padding: 0px 2px 5px 2px;
    text-align: center;
    width: 930px;
    height: 50px;
    border-radius: 22px;
    font-size: 22px;
    box-shadow: 1px 1px 1px;
    margin: 5px 1px 4px 1px;
}

    .button-register:hover {
        background-color: teal;
    }

.button-login {
    color: aliceblue;
    user-select: none;
    outline: none;
    background-color: darkslategrey;
    padding: 0px 2px 5px 2px;
    text-align: center;
    width: 290px;
    height: 50px;
    border-radius: 22px;
    font-size: 22px;
    box-shadow: 1px 1px 1px;
    margin: 5px 1px 4px 1px;
}

    .button-login:hover {
        background-color: teal;
    }

.button-registration {
    color: aliceblue;
    user-select: none;
    outline: none;
    background-color: tan;
    color: sienna;
    padding: 1em 1em;
    text-align: center;
    width: 290px;
    height: 50px;
    border-radius: 22px;
    font-size: 12px;
    box-shadow: 1px 1px 1px;
}

    .button-registration:hover {
        background-color: burlywood;
    }

.button-role {
    color: aliceblue;
    user-select: none;
    outline: none;
    background-color: darkslategrey;
    padding: 0px 2px 5px 2px;
    text-align: center;
    width: 400px;
    height: 50px;
    border-radius: 22px;
    font-size: 17px;
    box-shadow: 1px 1px 1px;
    margin: 5px 1px 4px 1px;
}

    .button-role:hover {
        background-color: teal;
    }

.form-ctrl {
    border-radius: 22px;
    width: 210px;
    height: 50px;
    margin: 5px 5px 5px 5px;
}

.form-search {
    border-radius: 22px;
    width: 350px;
    height: 50px;
    margin: 4px 0px 2px 70%;
    border:unset;
    padding: 1px 0px 1px 9px;
}
.adminproducts {
    width: 70%;
    height: 70%;
    overflow: auto;
    margin-left:auto;
    margin-right: auto;
    margin-top: auto;
    padding: 27px 2px 20px 4px;
    background-color: antiquewhite;
    border-radius: 22px;
    border-color: darkslategray;
    box-shadow: 4px 4px 4px;
    font-size: 18px;
    position: absolute;
    padding:10px 10px 10px 10px;
}
.leftblock {
    left: 3%;
    position: fixed;
}

.button-addproduct {
    color: aliceblue;
    user-select: none;
    outline: none;
    background-color: tan;
    color: sienna;
    padding: 1em 1em;
    text-align: center;
    width: 180px;
    height: 40px;
    border-radius: 22px;
    font-size: 12px;
    box-shadow: 1px 1px 1px;
    margin-left: auto;
    margin-right: 5%;
}

    .button-addproduct:hover {
        background-color:peru;
    }

.button-addrole {
    user-select: none;
    outline: none;
    background-color:cadetblue;
    color:aliceblue;
    padding: 2px 2px 1em 2px;
    text-align: center;
    vertical-align:central;
    width: 180px;
    height: 40px;
    font-size: 19px;
    box-shadow: 1px 1px 1px;
    margin: 10px 3px;
    margin-left:auto;

}

.addproducts {
    width: 35%;
    height: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    padding: 10px 2px 8px 16px;
    background-color: antiquewhite;
    border-radius: 22px;
    border-color: darkslategray;
    box-shadow: 4px 4px 4px;
    font-size: 12px;
    position: absolute;
    left:30%;
    font-style:normal;
}

.addrole {
    width: 30%;
    height: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    padding: 14px 2px 2px 24px;
    background-color: antiquewhite;
    border-radius: 22px;
    border-color: darkslategray;
    box-shadow: 4px 4px 4px;
    font-size: 15px;
    position: absolute;
    left: 30%;
    font-style: normal;
}

.editproducts {
    width: 40%;
    height: 70%;
    margin-left: 14px;
    margin-right: auto;
    margin-top: auto;
    padding: 10px 2px 8px 24px;
    background-color: antiquewhite;
    border-radius: 22px;
    border-color: darkslategray;
    box-shadow: 4px 4px 4px;
    font-size: 12px;
    position: absolute;
    left: 30%;
    font-style: normal;
}

.validation-message{
    color:darkred;
    font-size:large;
    font-optical-sizing:auto;
    font-weight:800;
    margin-top:0;
}