@model ProductViewModel

@await Html.PartialAsync("AdminPanel")
<div class="validation validation-message" asp-validation-summary="All"></div>
<div class="card shadow addproducts">
    <form class="form" method="post" enctype="multipart/form-data">
        <fieldset>
            <center><legend>Добавление продукта</legend></center>
            <label asp-for="Name">Название картины</label>
            <input type="text" asp-for="Name" size="50">
            <br />
            <span asp-validation-for="Name"></span>
            <br />

            <label asp-for="Cost">Цена</label>
            <input type="number" asp-for="Cost" onKeyUp="if(this.value>5000000){this.value='5000000';}">
            <span asp-validation-for="Cost"></span>
            <br />

            <label asp-for="Genre">Жанр</label>
            @Html.DropDownList("GenreEnum", Html.GetEnumSelectList(typeof(Genre)))
            <br />

            <label asp-for="PaintingTechnique">Техника</label>
            <input type="text" asp-for="PaintingTechnique">
            <span asp-validation-for="PaintingTechnique"></span>
            <br />

            <label asp-for="Size.Width">Ширина картины</label>
            <input type="number" asp-for="Size.Width" onKeyUp="if(this.value>200){this.value='200';}">
            <span asp-validation-for="Size.Width"></span>
            <br />

            <label asp-for="Size.Height">Высота картины</label>
            <input type="number" asp-for="Size.Height" onKeyUp="if(this.value>200){this.value='200';}">
            <span asp-validation-for="Size.Height"></span>
            <br />

            <label asp-for="Description">Описание</label>
            <textarea asp-for="Description" rows="3" cols="40"></textarea>
            <br />
            <span asp-validation-for="Description"></span>
            <br />

            <label asp-for="Year">Год создания</label>
            <input type="number" asp-for="Year" onKeyUp="if(this.value>2023){this.value='2023';}else if(this.value<2015){this.value ='2015';}">
            <span asp-validation-for="Year"></span>
            <br />

            <label asp-for="Size.IsFrame">Наличие рамки</label>
            <input asp-for="Size.IsFrame" type="checkbox" value="true">
            <span asp-validation-for="Size.IsFrame"></span>

            <label asp-for="IsPromo">Акция на товар</label>
            <input asp-for="IsPromo" type="checkbox" value="true">
            <span asp-validation-for="IsPromo"></span>
            <br />

            <div class="form-group">
                <label class="file">Загрузить изображение
                    <input type="file" name="UploadedFiles" class="form-control" multiple accept=".jpg, .jpeg, .png, .svg, .gif" />
                </label>
            </div>

            <div class="btn-group" role="group">
                <button class="btn-outline-secondary btn" type="reset">Сбросить заполнение формы</button>
                <button type="submit" class="btn-success btn" asp-area="admin" asp-controller="product" asp-action="add" role="button">Добавить продукт</button>
            </div>
        </fieldset>
    </form>
</div>