
    <form class="form" method="post">
                <input class="form-search" type="text" name="name" placeholder="Найти..." required>
        <button type="submit" class="btn" asp-controller="home" asp-action="search" role="button"></button>
    </form>
