<form class="form" method="post">
    <input class="form-search" type="search" name="search" placeholder="Найти...">
    <button type="submit" class="btn search" asp-controller="product" asp-action="search" >Поиск</button>
</form>