
<div class="undernavbar">
    <div class="sortblock">
        <div class="dropdown">
            <a class="btn button-sort dropdown-toggle" type="button" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-expanded="false">
                Сортировка
                <span class="caret"></span>
            </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item button-sort-sm" asp-controller="home" asp-action="index" asp-route-sortOrder="genre_landscape">Пейзаж</a></li>
                <li><a class="dropdown-item button-sort-sm" asp-controller="home" asp-action="index" asp-route-sortOrder="genre_still_life">Натюрморт</a></li>
                <li><a class="dropdown-item button-sort-sm" asp-controller="home" asp-action="index" asp-route-sortOrder="genre_animalism">Анималистика</a></li>
                <li><a class="dropdown-item button-sort-sm" asp-controller="home" asp-action="index" asp-route-sortOrder="genre_portrait">Портрет</a></li>
                <li><a class="dropdown-item button-sort-sm" asp-controller="home" asp-action="index" asp-route-sortOrder="cost_asc">По возрастанию цены</a></li>
                <li><a class="dropdown-item button-sort-sm" asp-controller="home" asp-action="index" asp-route-sortOrder="cost_desc">По убыванию цены</a></li>
                <li><a class="dropdown-item button-sort-sm" asp-controller="home" asp-action="index" asp-route-sortOrder="newProducts">Сначала новые</a></li>
                <li><a class="dropdown-item button-sort-sm" asp-controller="home" asp-action="index">Сначала старые</a></li>
                <li><a class="dropdown-item button-sort-sm" asp-controller="home" asp-action="index" asp-route-sortOrder="promo" role="button">Акция!</a></li>
                </ul>
        </div>
    </div>
    <div class="form-search">
        <form class="form" method="post">
            <div class="btn-group" role="group">
                <input class="search-left" type="search" name="search" placeholder="Найти...">
                <button type="submit" class="btn search-right" asp-controller="product" asp-action="searchresult">Поиск</button>
            </div>
        </form>
    </div>
</div>