@using OnlineShopWebApp.Models
@model PasswordViewModel

<center><b><div class="validation" asp-validation-summary="All" style="color:aliceblue"></div></b></center>
<div class="card shadow changepassword">
    <form class="col-lg-auto" method="post">
        <fieldset>
            <legend>Смена пароля</legend>

            <input type="hidden" asp-for="Id" value="@Model.Id" />

            <div>Введите старый пароль</div>
            <input type="password" asp-for="OldPassword">
            <span asp-validation-for="OldPassword"></span>
            <br>
            <label asp-for="NewPassword">Новый пароль</label>
            <br>
            <input type="password" asp-for="NewPassword">
            <br />
            <span asp-validation-for="NewPassword"></span>

            <br />
            <label asp-for="ConfirmNewPassword">Повторите новый пароль</label>
            <br>
            <input type="password" asp-for="ConfirmNewPassword">
            <br />
            <span asp-validation-for="ConfirmNewPassword"></span>
            <br />
        </fieldset>
        <button type="submit" class="btn btn-dark" asp-area="admin" asp-controller="user" asp-action="editpassword" role="button">Изменить пароль</button>
        <br />
    </form>
</div>