@model User

<center><b><div class="validation" asp-validation-summary="All" style="color:aliceblue"></div></b></center>
<div class="card shadow changepassword">
    <form class="col-lg-auto" method="post">
        <fieldset>
            <legend>Смена пароля</legend>

            <div>Текущий пароль: @Model.Password</div>

            <label asp-for="Password">Новый пароль</label>
            <br>
            <input type="password" asp-for="Password">
            <br />
            <span asp-validation-for="Password"></span>
            <br />
            <label asp-for="ConfirmPassword">Повторите новый пароль</label>
            <br>
            <input type="password" asp-for="ConfirmPassword">
            <br />
            <span asp-validation-for="ConfirmPassword"></span>
            <br />
        </fieldset>
        <button type="submit" class="btn btn-dark" asp-area="admin" asp-controller="user" asp-action="editpassword" asp-route-id="@Model.Id" role="button">Изменить пароль</button>
        <br />
    </form>
</div>