<div class="card shadow adminproducts">
    <center>
        <img src="~/images/PennywiseBig.jpg" alt="Упс!">
    </center>
    <center>
        <div style="color:red"><h3>Нельзя удалить администратора! Некому будет работать! Не делайте так больше, пожалуйста.</h3></div>
    </center>
    <a class="btn button-danger" asp-area="admin" asp-controller="user" asp-action="index" role="button">Вернуться к списку пользователей</a>
    <a class="btn button-danger" asp-area="admin" asp-controller="role" asp-action="index" role="button">Вернуться к списку ролей</a>
</div>