@model decimal

@if (Model == 0)
{
    <a class="basket" asp-area="" asp-controller="basket" asp-action="index">Корзина</a>
}
else if(Model < 10)
{
    <a class="basket" asp-area="" asp-controller="basket" asp-action="index">Корзина <span class="basket circleforbasket">@Model</span></a>
}
else
{
    <a class="basket-bg" asp-area="" asp-controller="basket" asp-action="index">Корзина <span class="basket-bg circleforbasket">@Model</span></a>
}